
.carousel2-container {
    width: 86%;
    overflow: hidden;
}

.carousel2 {
    display: flex;
    animation: slide 20s infinite;
}

.carousel2 img {
    width: 12.5%; 
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;  
}

@keyframes slide {
    0%, 100% { transform: translateX(0); }
    12.5% { transform: translateX(-100%); }
    25% { transform: translateX(-200%); }
    37.5% { transform: translateX(-300%); }
    50% { transform: translateX(-400%); }
    62.5% { transform: translateX(-500%); }
    75% { transform: translateX(-600%); }
    87.5% { transform: translateX(-700%); }
}